<header class="navbar sticky-topc navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
        <img width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Книжный клуб
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Открыть меню">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="nav navbar-nav navigation-main">
            <li class="nav-item active">
                <a class="nav-link">Рабочий стол <span class="sr-only">(текущий)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" >Встречи клуба</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Книги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Спикеры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-success" href="#">Оставить заявку</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" href="#">Запланировать</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-info">Регистрация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Войти</a>
            </li>
        </ul>
    </div>
</header>

<main role="main" class="inner cover sticky-top">
    {{outlet}}
</main>

<footer class="footer">
    <div class="container">
        <span>&copy; New Platform Ltd., 2022</span>
    </div>
</footer>